<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd" id="WebApp_ID" version="3.1">
  <display-name>Mall Manager Assistant</display-name>
  <welcome-file-list>
    <welcome-file>login.jsp</welcome-file>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <session-config>
    <session-timeout>86400</session-timeout>
  </session-config>
  <context-param>
    <param-name>posturl</param-name>
    <param-value>https://www.sandbox.paypal.com/cgi-bin/webscr</param-value>
  </context-param>
  <context-param>
    <param-name>cmd</param-name>
    <param-value>_cart</param-value>
  </context-param>
  <context-param>
    <param-name>business</param-name>
    <param-value>thakkarbhumit.1-facilitator@gmail.com</param-value>
  </context-param>
  <context-param>
    <param-name>password</param-name>
    <param-value>Bhumit@123</param-value>
  </context-param>
  <context-param>
    <param-name>signature</param-name>
    <param-value>AFcWxV21C7fd0v3bYYYRCpSSRl31AxqxKF5AesUPsUuzbRBDXUxlHhEJ</param-value>
  </context-param>
  <context-param>
    <param-name>returnurl</param-name>
    <param-value>http://localhost:8080/Mall Manager Assistant/PaymentSuccessController</param-value>
  </context-param>
  <context-param>
    <param-name>cancelurl</param-name>
    <param-value>http://localhost:8080/Mall Manager Assistant/PaymentCancelController</param-value>
  </context-param>
</web-app>